<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <tco_checkout>
                <active>1</active>
                <model>Tco\Checkout\Model\Checkout</model>
                <title>2Checkout Payment</title>
                <demo_mode>0</demo_mode>
                <order_status>processing</order_status>
                <inline>0</inline>
                <merchant_id />
                <api_secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <secret_word backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <cctypes>AE,VI,MC,DI,JCB,DC</cctypes>
                <allowspecific>0</allowspecific>
                <min_order_total>0.01</min_order_total>
                <redirect_url>tco/standard/redirect</redirect_url>
                <return_url>tco/standard/response</return_url>
                <cancel_url>tco/standard/cancel</cancel_url>
                <ipn_url>tco/ipn/notification</ipn_url>
                <inline_url>https://secure.2checkout.com</inline_url>
                <cgi_url>https://secure.2checkout.com/checkout/buy/?</cgi_url>
                <api_url_sandbox>https://api.2checkout.com/rest/6.0/</api_url_sandbox>
                <api_url>https://api.2checkout.com/rest/6.0/</api_url>
            </tco_checkout>
            <tco_api>
                <active>1</active>
                <model>Tco\Checkout\Model\Api</model>
                <title>Credit Card</title>
                <demo_mode>0</demo_mode>
                <merchant_id />
                <secret_word backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <cctypes>AE,VI,MC,DI,JCB,DC</cctypes>
                <allowspecific>0</allowspecific>
                <api_url>https://api.2checkout.com/rest/6.0/</api_url>
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </tco_api>

        </payment>
    </default>
</config>
