<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">

    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address" style="padding: 5px;border: 1px solid#DDD;background:#F4F4F4;">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <form type="post" id="payment-form" data-role="tco-cc-form">
            <div class="form-group">
                <label for="name" class="label control-label">Name</label>
                <input type="text" id="name" class="field form-control">
                <span id="validation-message">Cardholder name cannot be empty</span>
            </div>

            <div id="card-element-tco">
                <!-- A TCO IFRAME will be inserted here. -->
            </div>

            <button class="btn btn-primary" type="submit" id="submitTCO" data-bind="click: placeOrder">Place order</button>
        </form>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

    </div>
</div>
<style>
    #submitTCO:hover {
        background: #5C8DF8;
        border-color: #5C8DF8;
    }

    #submitTCO {
        background: #3474FF;
        color: #FFF;
        padding: 10px 25px;
        border-radius: 5px;
        border: 1px solid #3474FF;
        box-shadow: none;
        font-weight: 400;
    }


    #payment-form {
        font-family: Helvetica, sans-serif;
        margin-top: 15px;
        padding: 10px 15px;
        border: 1px solid #DDD;
        border-radius: 5px;
        margin-left: 35px;
    }

    @media (max-width: 768px) {
        #payment-form {
            margin-left: 15px;
        }
    }

    @media (max-width: 400px) {
        #payment-form {
            padding: 10px;
            margin-left: 0;
            border: 0;
            box-shadow: none;
        }
    }

    #payment-form .form-group {
        margin-bottom: 14px;
        padding-right: 25px;
    }

    #payment-form .sp-methods {
        padding-left: 0;
    }

    #payment-form .sp-methods .form-list {
        padding-left: 0 !important;
    }


    #payment-form input {
        overflow: visible;
        margin: 0;
        font-family: inherit;
        display: block;
        width: 100%;
        height: 42px;
        padding: 10px 12px;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        color: #313131;
        background-color: #FFF;
        background-clip: padding-box;
        border: 1px solid #CBCBCB;
        border-radius: 3px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        outline: 0;
    }

    #payment-form label {
        display: inline-block;
        margin-bottom: 9px;
        color: #313131;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
    }

    #payment-form #validation-message {
        color: #D9534F;
        font-size: 10px;
        font-style: italic;
        margin-top: 6px;
        margin-bottom: -5px;
        line-height: 1;
        display: none;
    }
</style>
